@font-face {
  font-family: "Righteous";
  src: url("Righteous-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 2px #333;
  text-align: center;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
}

main #tabsDiv {
  display: flex;
  justify-content: space-evenly;
}

/*initial style*/
main #tabsDiv #randomTab {
  font-weight: bold;
  color: #333;
}

main #tabsDiv p {
  font-family: "Poppins";
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

main #randomDiv #randomIdDisplay,
main #randomDiv #randomToolsDiv,
main #searchDiv #searchToolsDiv {
  font-family: "Poppins";
  font-size: 0.7rem;
  color: #333;
}

main #randomDiv #randomImgDisplay,
main #searchDiv #searchImgDisplay {
  box-shadow: 2px 2px 2px #333;
  margin-bottom: 1rem;
}

.tools {
  margin-bottom: 0.7rem;
}

main #randomDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: #f4f4f4;
  background-color: #333;
  padding: 0.3rem 0.7rem;
}

main #searchDiv #imgIdInput {
  font-family: "Poppins";
  font-size: 0.8rem;
  border: 2px solid #333;
  background-color: transparent;
  width: 8rem;
  height: 1.5rem;
  padding-left: 0.3rem;
  margin-bottom: 1.5rem;
}

main #searchDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  color: #f4f4f4;
  background-color: #333;
  padding: 0.24rem 0.7rem;
}

button:active, button:hover {
  opacity: 70%;
}