@font-face {
  font-family: "Righteous";
  src: url("Righteous-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Righteous";
}

/*mobile*/
body {
  background: url("lake.jpg") no-repeat fixed center / cover;
}

#homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

#homePage img {
  width: 36%;
  height: 36%;
  border-radius: 50%;
  margin: 0 auto;
  filter: drop-shadow(2px 2px 1px #4c4c4c);
}

#homePage #name {
  text-align: center;
  margin: 0.9rem 0 2.5rem;
  color: #333;
  font-size: 1.2rem;
}

#homePage #pagesDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 5.5rem;
}

#homePage #pagesDiv button {
  border: 2px solid #333;
  padding: 0.4rem 0;
  color: #333;
  background-color: #f4f4f4;
  font-size: 1rem;
  border-radius: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.9rem 0.9rem 0;
}

div p {
  font-size: 1.8rem;
}

div .title {
  text-align: center;
}

#aboutPage #bioDataDiv {
  background-color: #f4f4f4;
  text-align: center;
  margin: 2.7rem 2.7rem 0;
  border: 3px solid #333;
  padding: 1rem;
  border-radius: 1.5rem;
}

#aboutPage #bioDataDiv .label {
  font-size: 0.8rem;
  color: #666;
}

#aboutPage #bioDataDiv .data {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  color: #333;
}

#projectsPage #projectsList {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: #f4f4f4;
  border: 3px solid #333;
  margin: 2.7rem 2.7rem 0;
  padding: 1rem 1.2rem;
  max-height: 400px;
  overflow-y: scroll;
}

/* remove default scrollbars on desktop */
#projectsPage #projectsList::-webkit-scrollbar {
  display: none;
}

#projectsPage #projectsList a {
  color: #f4f4f4;
  text-decoration: none;
  background-color: #333;
  text-align: center;
  padding: 0.7rem 0;
  font-size: 0.9rem;
  border-radius: 0.1rem;
}

#contactPage form {
  display: flex;
  flex-direction: column;
  border: 3px solid #333;
  margin: 2.7rem 2.7rem 0;
  padding: 1.5rem 1.6rem;
  gap: 10px;
  background-color: #f4f4f4;
}

#contactPage form input, #contactPage form textarea {
  border: 2px solid #333;
  padding: 0.3rem;
  color: #666;
}

#contactPage form button {
  color: #f4f4f4;
  background-color: #333;
  border: none;
  padding: 0.5rem 0;
}

button:hover, a:hover {
  opacity: 80%;
}

/*desktop*/
@media only screen and (min-width: 1000px) {
  body {
    background: url("desktopLake.jpg") no-repeat fixed center / cover;
  }

  #homePage img {
    width: 18%;
    height: 18%;
  }

  #homePage #pagesDiv {
    gap: 0.5rem;
    margin: 0 25rem;
  }

  #homePage #pagesDiv button {
    padding: 0.2rem 0;
  }

  #aboutPage #bioDataDiv {
    margin: 2.7rem 400px 0;
    border-radius: 3rem;
  }

  #projectsPage #projectsList {
    margin: 2.7rem 400px 0;
  }

  #contactPage form {
    margin: 2.7rem 400px 0;
  }

  #contactPage form input, #contactPage form textarea {
    padding: 0.5rem 0 0.5rem 0.8rem;
    font-size: 1rem;
  }

  #contactPage form button {
    font-size: 1rem;
  }
}