@font-face {
  font-family: "Righteous";
  src: url("Righteous.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  max-height: 450px;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 2px #333;
  text-align: center;
  overflow-y: scroll;
}

/*remove default scrollbars in desktop*/
main::-webkit-scrollbar {
  display: none;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

main #inputsDiv input {
  font-family: "Poppins";
  font-size: 0.8rem;
  width: 8.5rem;
  text-align: center;
  color: #333;
  background-color: transparent;
  border: 1.5px solid #333;
  margin-bottom: 0.1rem;
  padding: 0.2rem 0;
}

main #inputsDiv #timesText {
  font-family: "Poppins";
  font-size: 0.7rem;
  color: #666;
  margin: 0.3rem 0;
}

main #inputsDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: #f4f4f4;
  background-color: #333;
  border: none;
  border-radius: 0.1rem;
  margin-top: 1rem;
  padding: 0.2rem 0;
  width: 8.7rem;
}

main #newTableText {
  visibility: hidden;
  font-family: "Poppins";
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 1.5rem;
}

main #tableDisplayDiv {
  display: none;
  padding: 0 2.7rem;
}

main #tableDisplayDiv p {
  font-family: "Poppins";
  font-size: 0.8rem;
  padding: 0.2rem 0;
  border: 1px solid #333;
}