@font-face {
    font-family: 'righteous';
    src: url('./fonts/Righteous.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins.ttf');
}

* {
    font-family: 'poppins';
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfcfcf;
    margin: 1.5rem;
    overflow-y: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    color: #f4f4f4;
    background-color: #333;
    border: none;
    padding: 0.3rem 0;
}

button:hover {
    opacity: 80%;
}

main .hidden-div {
    display: none !important;
}

main div {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

main #landing-screen-div .title,
main #dashboard-div .dashboard-text {
    font-family: 'righteous';
    font-size: 3rem;
}

main #auth-div #auth-form,
main #update-password-div #update-password-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    text-align: center;
}

main #auth-div #auth-form input,
main #update-password-div #update-password-form #new-password-input {
    border: 1px solid #333;
    height: 2.2rem;
    padding-left: 0.5rem;
    overflow-x: scroll;
    color: #333;
    background-color: #f4f4f4;
}

main #auth-div #auth-form #auth-btn,
main #dashboard-div #welcome-msg-display {
    margin-bottom: 2rem;
}

main #auth-div #auth-instead-text {
    color: blue;
}

@media (min-width: 768px) {
    * {font-size: 1.3rem}

    body {margin: 3.5rem}

    button {padding: 0.5rem 0}

    main #landing-screen-div .title,
    main #dashboard-div .dashboard-text {font-size: 4rem}

    main #auth-div #auth-form,
    main #update-password-div #update-password-form {row-gap: 0.5rem}

    main #auth-div #auth-form input,
    main #update-password-div #update-password-form #new-password-input {
        padding-left: 0.7rem;
        height: 2.5rem;
    }
}