@font-face {
  font-family: "Righteous";
  src: url("Righteous-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  max-height: 450px;
  overflow-y: scroll;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 2px #333;
  text-align: center;
}

/*remove default scrollbars in desktop*/
main::-webkit-scrollbar {
  display: none;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
}

main #tabsDiv {
  display: flex;
  justify-content: space-evenly;
}

main #tabsDiv p {
  font-family: "Poppins";
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

main #tabsDiv #pendingTasksTab {
  color: #333;
  font-weight: bold;
}

main #pendingTasksDiv,
main #completedTasksDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

main #manageTaskDiv {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

main #pendingTasksDiv #taskInputDiv #taskInput {
  font-family: "Poppins";
  font-size: 0.8rem;
  border: 2px solid #333;
  background-color: transparent;
  width: 8rem;
  height: 1.5rem;
  padding-left: 0.3rem;
  margin-bottom: 1.5rem;
}

main #pendingTasksDiv #taskInputDiv #addTaskBtn {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  color: #f4f4f4;
  background-color: #333;
  padding: 0.24rem 0.7rem;
}

main #pendingTasksDiv #pendingTasksDisplay li,
main #completedTasksDiv #completedTasksDisplay li,
main #manageTaskDiv #taskNameDisplay {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: "Poppins";
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

main #pendingTasksDiv #pendingTasksDisplay span,
main #completedTasksDiv #completedTasksDisplay span {
  font-family: "Poppins";
  font-size: 0.7rem;
  font-weight: normal;
  font-style: normal;
}

main #pendingTasksDiv #pendingTasksDisplay button,
main #completedTasksDiv #completedTasksDisplay button,
main #manageTaskDiv button {
  font-family: "Poppins";
  font-size: 0.7rem;
  color: #f4f4f4;
  background-color: #333;
  border: none;
  border-radius: 0.1rem;
  margin: 0 2.8rem;
  padding: 0.2rem 0.3rem;
}