@font-face {
  font-family: "Righteous";
  src: url("Righteous.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #808080;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #333;
  border: 2px solid darkorange;
  text-align: center;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: darkorange;
  margin-bottom: 2rem;
}

main #tabsDiv {
  display: flex;
  justify-content: space-evenly;
}

main #tabsDiv #randomPokemonTab {
  font-family: "Poppins";
  color: darkorange;
  font-weight: bold;
}

main #tabsDiv #searchPokemonTab {
  font-family: "Poppins";
  color: #f4f4f4;
  font-weight: bold;
}

/*sprite image*/
main #randomPokemonDiv #randomPokemonSpriteDisplay,
main #searchPokemonDiv #searchPokemonSpriteDisplay {
  width: 50%;
  margin: 1rem 0;
}

/*id and type label*/
/*random div*/
main #randomPokemonDiv #randomPokemonInfoDisplay .pokemonId,
main #randomPokemonDiv #randomPokemonInfoDisplay .pokemonTypeLabel,
/*search div*/
main #searchPokemonDiv #searchPokemonInfoDisplay .pokemonId,
main #searchPokemonDiv #searchPokemonInfoDisplay .pokemonTypeLabel {
  font-family: "Poppins";
  font-size: 0.5rem;
  color: #f4f4f4;
}

/*name, height, weight and types*/
/*random div*/
main #randomPokemonDiv #randomPokemonInfoDisplay .pokemonName,
main #randomPokemonDiv #randomPokemonInfoDisplay .pokemonHeightAndWeight,
main #randomPokemonDiv #randomPokemonInfoDisplay .pokemonTypes,
/*search div*/
main #searchPokemonDiv #searchPokemonInfoDisplay .pokemonName,
main #searchPokemonDiv #searchPokemonInfoDisplay .pokemonHeightAndWeight,
main #searchPokemonDiv #searchPokemonInfoDisplay .pokemonTypes {
  font-family: "Poppins";
  font-size: 0.7rem;
  color: darkorange;
}

main #randomPokemonDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  background-color: darkorange;
  border: none;
  border-radius: 0.1rem;
  margin: 1rem auto 0;
  padding: 0.2rem 0;
  width: 8.7rem;
}

main button:hover {
  opacity: 80%;
}

main #searchPokemonDiv {
  display: none;
}

main #searchPokemonDiv #pokemonNameOrIdInput {
  font-family: "Poppins";
  font-size: 0.8rem;
  width: 8.5rem;
  color: darkorange;
  background-color: transparent;
  border: 1.5px solid darkorange;
  margin: 1rem 0;
  padding: 0.2rem 0.4rem;
  overflow-x: scroll;
}

::placeholder {
  color: darkorange;
}

main #searchPokemonDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  background-color: darkorange;
  border: none;
  border-radius: 0.1rem;
  padding: 0.3rem 0.4rem;
}