@font-face {
  font-family: "Righteous";
  src: url("Righteous.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 2px #333;
  text-align: center;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
}

main select {
  font-family: "Poppins";
  font-size: 0.8rem;
  border: 1px solid #333;
  margin: 0 3rem 2rem;
}

main #idDisplay {
  font-family: "Poppins";
  font-size: 0.7rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.3rem;
}

main #setupDisplay {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: #333;
  margin: 0 1rem;
}

main hr {
  margin: 1rem;
}

main #punchlineDisplay {
  font-family: "Poppins";
  font-size: 1rem;
  color: #333;
  margin: 0 1rem 1.5rem;
  font-weight: bold;
}

main button {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: #f4f4f4;
  background-color: #333;
  margin: 0 5rem;
  padding: 0.3rem 0;
}

button:hover, button:active {
  opacity: 80%;
}