@font-face {
  font-family: "Righteous";
  src: url("Righteous.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*center the main container*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
}

main {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 2px #333;
  text-align: center;
}

main #title {
  font-family: "Righteous";
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

main #inputsDiv #imgDisplay {
  display: none;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin: 0 auto 0.5rem;
}

main #inputsDiv label {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: #f4f4f4;
  background-color: #333;
  padding: 0.2rem 0.4rem;
  border-radius: 0.1rem;
}

main #inputsDiv #imgInput {
  visibility: hidden;
}

main #inputsDiv input {
  font-family: "Poppins";
  font-size: 0.8rem;
  width: 11rem;
  text-align: center;
  color: #333;
  background-color: transparent;
  border: 1.5px solid #333;
  margin-bottom: 0.1rem;
  padding: 0.2rem 0.4rem;
  overflow-x: scroll;
}

main #inputsDiv button {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: #f4f4f4;
  background-color: #333;
  margin-top: 1rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 0.1rem;
}

main #displaysDiv {
  display: none;
  overflow: scroll;
}

/*remove default scrollbars in desktop*/
main #displaysDiv::-webkit-scrollbar {
  display: none;
}

main #displaysDiv #chosenImgDisplay {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}

main #displaysDiv label {
  font-family: "Poppins";
  font-size: 0.6rem;
  font-weight: bold;
  color: #333;
}

main #displaysDiv p {
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: bold;
  color: #808080;
  margin-bottom: 0.6rem;
}

main #displaysDiv #newResumeText {
  font-size: 0.6rem;
  color: #a3a3a3;
  margin-top: 1.5rem;
}